.logo a img{
       width: 166px;
       filter: drop-shadow(1px 9px 3px gray);
}

/*.header-sticky.sticky-bar {
    background: linear-gradient(47deg, #ffffff, #0072d3);
    
}*/

.header-sticky.sticky-bar {
	background: linear-gradient(-45deg, #ee7752, #ffffff, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 16vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}